h1 {
    text-align: center;
    color: orangered;
    border: 5px dotted orange;
    padding: 10px;
}

body {
    background-color: blanchedalmond;
}

p {
    text-align: center;
    color: darkred;
}

h2 {
    color: orangered;
    font-size: 20px;
}

li {
    color: orange;
    size: 15px;
}

img {
    border: 15px double brown;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
}

a {
    color: darkorange;
    font-size: 20px;
    margin-left: 15px;
}

.my_bio{
    font-size: 25px;
}

section{
    background-color: white;
    border: 9px lightgreen solid;
    border-radius: 25%;
}

.fruits{
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 30px;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 20px;
}

.songs{
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 30px;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 20px;
}

.lessons{
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 30px;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 20px;
}

.right_image{
    margin-left: 970px;
}

.bio_you{
    font-size: 30px;
    color: darkgoldenrod;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    border: 3px solid darkgoldenrod;
    text-align: center;
    font-weight: 500px;
    background-color: bisque;
    color:brown;
}

td{
    border: 3px solid darkgoldenrod;
    text-align: center;
    font-weight: 500px;
    margin: 25px;
}

nav {
    text-align: center;
}

nav a{
    color:red;
    text-decoration: none;
}

.name{
    background-color: bisque;
    color:brown; 
}

.name_2{
    background-color:blanchedalmond;
    color: darkred;
}
