h1 {
    text-align: center;
    color: orangered;
    border: 5px dotted orange;
    padding: 10px;
}

body {
    background-color: blanchedalmond;
}

p {
    text-align: center;
    color: darkred;
}

h2 {
    color: orangered;
    margin-right: 30px;
    font-size: 20px;
}

li {
    color: orange;
    size: 15px;
}

img {
    border: 15px double brown;
}

a {
    color: darkorange;
    font-size: 20px;
    margin-left: 15px;
}

.my_bio{
    font-size: 25px;
}

section{
    background-color: white;
    border-radius: 15%;
}
